.cards-wrapper {
  display: flex;
  margin: 50px 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  color: black;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
  margin: 15px 0;
}

.location-name {
  color: #7836af;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.values-container p {
  display: inline-block;
}

@media (min-width: 600px) {
  .cards-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: calc(50% - 30px);
    margin: 15px;
  }
}
